@model List<CommentModel>

<h2>Kommentarer</h2>
<form asp-action="AddComment" method="post" class="mt-4">
    <div class="mb-3">
        <label for="userName" class="form-label">Användarnamn:</label>
        <input type="text" name="userName" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="comment" class="form-label">Kommentar:</label>
        <textarea name="comment" class="form-control" required></textarea>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary rounded-pill">Lägg till kommentar</button>
    </div>
</form>


<br>
<br>
<h2>Alla kommentarer:</h2>
<ul>
    @foreach (var comment in Model)
    {
        <li>
            <strong>@comment.UserName</strong>
            <p>@comment.Comment</p>
            <p>Tidpunkt: @comment.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</p>
        </li>
    }
</ul>
