@{
    ViewData["Title"] = "DKDSEARCH";
}

<div class="text-center">
    <h1 class="display-4">Välkomna till DKDSEARCH</h1>
    <br>
    <br>
    <p>Skriv vad du söker efter i sökrutan:</p>
</div>
<br>
<br>
<div class="text-center">
    <form asp-controller="Home" asp-action="Search" method="post">
        <input type="text" name="query" />
        <button type="submit">Sök</button>
    </form>
</div>