@{
    ViewData["Title"] = "DKDSEARCH";
}

<div class="text-center">
    <h1 class="display-4">Välkomna till DKDSEARCH</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br>
<br>
<form asp-controller="Search" asp-action="Search" method="post">
    <input type="text" name="query" />
    <button type="submit">Sök</button>
</form>