@{
    ViewData["Title"] = "DKDSEARCH";
}

<div class="text-center">
    <h1 class="display-4">Välkomna till DKDSEARCH</h1>
    <br>
    <br>
    <p>Skriv vad du söker efter i sökrutan:</p>
</div>
<br>
<br>
<div class="text-center">
    <form class="d-flex" asp-controller="Home" asp-action="Search" method="post">
        <input class="form-control me-5" type="text" name="query" placeholder="Sök" aria-label="Sök">
        <button class="btn btn-outline-primary" type="submit">Sök</button>
    </form>
</div>