@{
    ViewData["Title"] = "Om sidan:";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>Välkommen till min sökmotor och kommentarplattform! Denna webbplats är ett projekt som syftar till att
        demonstrera
        användningen av olika tekniker för att bygga en enkel sökmotor och skapa en kommentarfunktion.
        Sidan är byggt i ASP.NET CORE MVC. </p>

    <h2>Sökmotor</h2>
    <p>Sökmotorn hämtar resultat från Google Search API baserat på användarens sökfråga. </p>
    <br>
    <h2>Kommentarfunktion</h2>
    <p>Jag har inkluderat en kommentarfunktion där användare kan lägga till sina egna kommentarer. Dessa kommentarer
        sparas
        i JSON-format för att säkerställa att de är tillgängliga även efter att användaren har stängt av webbläsaren.
        ASP.NET Core Session används för att lagra kommentarinformation.</p>
    <br>
    <h2>Metoder som användes i projektet</h2>

    <li>ASP.NET Core MVC: Används för att skapa en robust och effektiv backend för webbplatsen.</li>
    <li>C#: Används som programmeringsspråk för ASP.NET Core.</li>
    <li>JSON: Används för att lagra och hantera sparade resultat och kommentarer.</li>


    <br>
    <br>
    <p>Tack för ditt besök!</p>
</div>