@model List<SearchResult>

<h2>Dina sparade resultat</h2>
<ul>
    @foreach (var savedResult in Model)
    {
        <li>
            <strong>@savedResult.Title</strong>
            <p>@savedResult.Description</p>
            <a href="@savedResult.Url">Read more</a>
        </li>
    }
</ul>
